.top-line
  padding: 25px 0
  .container
    position: relative
  .logo
    display: inline-block
    margin-right: 80px
    vertical-align: top
.header-info
  display: inline-block
  font-size: 24px
  line-height: 1
  .socials
    display: inline-block
    color: $accent-darkcreamy
    a
      display: inline-block
      margin-right: 5px
  .top-phones
    display: inline-block
    font-size: 20px
    position: relative
    margin-left: 20px
    &:before
      content: '\f10b'
      font-family: FontAwesome
      font-size: 30px
      color: $accent-blue
      position: relative
      top: 3px
      margin-right: 5px
      display: inline-block
    a
      +mt(.3s)
      white-space: nowrap
      &:hover
        color: $accent-blue
  .bottom
    margin-top: 28px
    font-size: 16px

.top-user
  float: right
  &-name
    position: relative
    display: block
    text-align: right
    &:after
      content: '\f2c0'
      font-family: FontAwesome
      display: inline-block
      margin-left: 10px
      font-size: 22px
      color: $accent-darkcreamy
      position: relative
      top: 3px
  .user-abilities
    margin-top: 28px
    font-size: 28px
    text-align: right
    color: $accent-darkcreamy
    a
      display: inline-block
      margin-left: 15px
      position: relative
      +mt(.3s)
      &:after
        +mt(.3s)
        content: attr(data-content)
        min-width: 25px
        position: absolute
        background-color: $accent-blue
        color: #fff
        line-height: 1
        font-size: 16px
        text-align: center
        right: -11px
        top: -5px
      &:hover
        color: $accent-blue

.mnu-line
  font-size: 0
  position: relative
  a
    font-size: 18px
    text-transform: uppercase
    padding: 18px 0
    +mt(.3s)
    &:hover
      color: $accent-blue

.main-mnu
  display: inline-block
  width: calc(100% - 270px)
  ul
    display: flex
    justify-content: space-around
    background-color: $accent-creamy
  a
    display: inline-block

.catalog-href
  background-color: $accent-lightcreamy
  text-align: center
  &:hover
    .cat-ham, .cat-ham:before, .cat-ham:after
      background-color: $accent-blue

.cat-ham
  top: -4px
  position: relative
  display: inline-block
  width: 20px
  height: 4px
  background-color: $text-color
  margin-right: 12px
  +mt(.3s)
  &:before, &:after
    position: absolute
    content: ''
    width: 20px
    height: 4px
    background-color: $text-color
    +mt(.3s)
  &:before
    top: -7px
    left: 0
  &:after
    bottom: -7px
    left: 0

.toggle-mnu-wrap
  background-color: $accent-creamy
  text-align: center
  width: 20%
  height: 57px
  position: relative
  top: 2px

.toggle-mnu
  display: inline-block
  width: 28px
  height: 28px
  position: relative
  span:after, span:before
    content: ""
    position: absolute
    left: 0
    top: 9px
  span:after
    top: 18px
  span
    position: relative
    display: block
  span, span:after, span:before
    width: 100%
    height: 3px
    background-color: $text-color
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
  &.on span
    background-color: transparent
  &.on span:before
    transform: rotate(45deg) translate(-1px, 0px)
  &.on span:after
    transform: rotate(-45deg) translate(6px, -7px)

.mobile-mnu
  display: none
  padding: 15px 0 30px
  text-align: center
  background-color: $accent-creamy
  li
    padding: 12px 0
    position: relative
    &:after
      content: ''
      position: absolute
      height: 1px
      width: 50%
      bottom: 0
      left: 25%
      background-color: $accent-blue
    a
      display: block
      padding: 0


.intro
  font-size: 0
  position: relative
  .container
    display: flex

.prod-slider
  display: inline-block!important
  width: calc(100% - 270px)
  position: relative
  .owl-dots
    position: absolute
    right: 30px
    top: 30px
    button.owl-dot
      width: 18px
      height: 18px
      border-radius: 50%
      background-color: #a7aab1
      margin-bottom: 8px
      display: block
      &.active
        background-color: $accent-blue


.prod-slide
  padding: 45px 0 70px 85px
  +bg-cover()
  &-content
    max-width: 420px
  &-title
    color: #fff
    font-size: 26px
    margin-bottom: 15px
  &-desc
    font-size: 16px
    color: #737581
    line-height: 1.5
    max-height: 96px
    overflow: hidden
  .btn
    font-size: 16px
    margin-top: 25px

.prod-list
  font-size: 16px
  vertical-align: top
  background-color: $accent-blue
  color: #fff

.sm-simple
  background-color: $accent-blue
  border: none
  box-shadow: none
  padding-top: 20px
  li
    border: none
  ul
    background-color: $accent-blue
    border: none
    color: #fff
    box-shadow: none
    a, a.highlighted, a:active, a:focus, a:hover
      padding-right: 50px!important

.sm-simple.sm-vertical li
  border: none

.sm-simple a, .sm-simple a.highlighted, .sm-simple a:active, .sm-simple a:focus, .sm-simple a:hover
  color: #fff
  border: none
  background-color: $accent-blue
  padding-top: 15px
  padding-bottom: 15px
  padding-right: 50px
  position: relative

.sm-simple.sm-vertical a, .sm-simple a.highlighted,
  .sub-arrow
    right: 15px
    left: auto
    width: 30px
    background: none
  &:hover
    .sub-arrow:before
      content: '\f054'

.sm-simple.sm-vertical>li
  border-color: transparent

.sm-simple a, .sm-simple a.highlighted,
  .sub-arrow::before
    content: '\f054'
    font-family: FontAwesome
    color: #333
    position: absolute



