@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .news-item-title
    font-size: 16px

  .mnu-line
    a
      font-size: 16px

  .prod-item
    .ends
      font-size: 13px

// ≥992px
+media-breakpoint-down(md)

  .news-item
    width: 48%

  .prod-item
    .ends
      font-size: 14px

  .intro
    .container
      display: block
    .prod-list
      width: 100%
      .prod-mnu
        width: 50%

  .prod-slider
    display: block!important
    width: 100%

  .top-line
    .logo
      margin-right: 25px

  .catalog-href
    width: 80%

// ≥768px
+media-breakpoint-down(sm)
  .news-wrap
    padding: 0 15px

  .intro
    top: 117px
    margin-bottom: 150px
    .prod-list
      .prod-mnu
        width: 100%

  .sm-simple
    ul
      a, a.highlighted, a:active, a:focus, a:hover
        padding-top: 4px
        padding-bottom: 4px
        padding-left: 35px

  .prod-slide
    padding-left: 25px
    &-content
      max-width: 320px

  .mnu-line
    top: 117px

  .mobile-mnu
    li:after
      left: 15px
      width: calc(100% - 30px )

  .header-info
    position: absolute
    top: 130px
    right: 15px
    .socials
      display: block
      text-align: right
    .bottom
      margin-top: 15px

// ≥480px
+media-breakpoint-down(xs)

  .news-item
    width: 100%

  .update, .more-products
    right: 15px

  .prod-slide
    padding-right: 25px
    &-desc
      font-size: 14px
      max-height: 106px

  .prod-slider
    .owl-dots
      right: auto
      top: auto
      bottom: 25px
      width: 100%
      text-align: center
      button.owl-dot
        display: inline-block
        margin-bottom: 0
        margin-right: 8px


  .header-info
    display: block
    width: calc(100% - 30px)
    left: 15px
    .socials
      display: block
      text-align: left
    .top-phones
      display: block
      font-size: 16px
      margin-left: 0
      margin-top: 10px
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
